<span class="head"><h3>Helping conservation efforts soar since 2024</h3></span>
    <span class="head"><h3>About Us</h3></span>
<span class="par">
    <p> We at Society for the Welfare of Endangered Nestlings are dedicated
        to preserving avian wildlife around the globe. We work with local communities 
        to restore natural habitats and resources, aid injured nestlings, support restoration ecology,
        and -- most importantly -- to uplift local bird communities. Established in 2024 by 
        software-engineers/bird-watchers, SWEN has made an impact in bird populations across North America, 
        and we intend to spread our wings and help nestlings around the globe. 
    </p>
</span>
<span class="head"><h3>Organization News</h3></span>
<span class="news">
    
        <details class="d"><summary>Puffin Preservation</summary>
        
            <span class="par">
                <p >We are working with officials at the National Park Service to support local puffin populations
                    in Maine by reducing traffic near their habitats and removing polutants from the water. 
                </p>
            </span>
        </details>
   
    
    
        <details class="d"><summary>Geese and Government</summary>
        
           <span class="par">
            <p > In partnership with a local bird-watching club, SWEN is in negotiations with city officials in Rochester, NY 
                to establish a new state park where geese can rest during migration.
            </p>
           </span>
        </details>
  
    
    

        <details class="d"><summary>Dodo De-Extinction?</summary>
        
            <span class="par">
                <p>
                    SWEN is supporting new genetic research that could help restore endangered or extinct populations, including the 
                    famous Dodo.
                </p>
            </span>
        </details>
   
    
</span>

<span class="head"><h3>Get Involved</h3></span>
<span class="par">
    <p >login to support the organization, or create an account to start making a difference today!</p>
</span>
<span><button class="action" *ngIf="(LoggedIn())"[routerLink]="['/signup']">Sign Up</button>
    <button class="action" *ngIf="(LoggedIn())" [routerLink]="['/login']">Log In</button>


